.slide-down-forever-320p {
  animation: slide-down-forever-320p 40s linear infinite;
}

@keyframes crt-open {
  0% {
    box-shadow: 0 0 0 15px rgb(236, 232, 236);
    filter: brightness(1000%);
    transform: scaleY(0);
  }
  10% {
    filter: brightness(200%);
    box-shadow: none;
  }
  50% {
    filter: brightness(200%);
  }
  100% {
    filter: brightness(100%);
    transform: scaleY(1);
  }
}
