/*
 * Excellent resources on custom borders:
 * https://codepen.io/gc-nomade/pen/oxzKJp
 * https://codepen.io/gc-nomade/pen/IGliC
 * https://stackoverflow.com/questions/37575036/how-to-fill-only-half-of-border-bottom
 * https://css-tricks.com/gradient-borders-in-css/
 * https://stackoverflow.com/questions/4011113/can-you-add-noise-to-a-css3-gradient
 */
.kosm-gradient-box, .kosm-gradient-box-secondary {
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.kosm-gradient-box:before, .kosm-gradient-box-secondary:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px;
    border-radius: inherit;
    background: linear-gradient(to right, #f8fccf, #6f706a, #f8fccf);

    animation-name: kosm-oscillate-opacity;
    animation-duration: 872ms; /* Japanese style. */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.kosm-gradient-box-secondary:before {
    background: radial-gradient(circle farthest-side, #f8fccf, #daec7e, transparent);
    margin: -2px;
}

@keyframes kosm-oscillate-opacity {
    0%   { opacity: 1;      }
    100% { opacity: 0.6524; }
}

.kosm-active-primary-button {
    background-color: #000000bf !important;
}

/* TODO: figure out why we need '!important' for everything; using it for now
    because it's simply refusing to play along, but this is bad practice, and
    should eventually be removed for many reasons.
 */
.kosm-inactive-primary-button {
    background-color: #0000007f !important;
    border-left: none !important;
    border-right: none !important;

    /* Simulate top and bottom border. We do this instead of using real */
    /* borders because real border jump around when used with gradient */
    /* borders. */
    box-shadow: 0 0 0 1px black !important;
    clip-path: inset(-5px 0px -5px 1px) !important;
}

.kosm-active-secondary-button {
    border-radius: 2px !important;
    background-color: #000000bf !important;
}

/* TODO: figure out why we need '!important' for everything; using it for now
    because it's simply refusing to play along, but this is bad practice, and
    should eventually be removed for many reasons.
 */
.kosm-inactive-secondary-button {
    background-color: #00000042 !important;
    border-left: none !important;
    border-right: none !important;

    /* Simulate top and bottom border. We do this instead of using real */
    /* borders because real border jump around when used with gradient */
    /* borders. */
    box-shadow: 0 0 0 1px black !important;
    clip-path: inset(1px 1px -5px 1px) !important;
}

.kosm-modal-actions {
    /* Background kills gradient orders here, too :/ */
    /*background-color: #333333;*/
    padding: 8px;
    text-align: right;
}

.kosm-modal-actions > * {
    margin: 8px !important;
}

/* Modal background. */
.ui.modal.transition.visible.active.kosm-modal {
    background: #333333 !important;
}

.kosm-wide {
    width: 313px;
}

.kosm-block, .kosm-inline-block {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 9px !important;
}

.kosm-block {
    display: block !important;
}

.kosm-inline-block {
    display: inline-block !important;
}

.kosm-invalid {
    color: grey;
    background-color: #ff00001c !important;
}

.kosm-collapsed-grid {
    /* Please do not apply colour here; it messes up the button gradients */
    /* for some reason. */
    /*background: #00000094 !important;*/
     margin: 0 !important;
    padding: 18px !important;
}

.kosm-collapsed-grid .column {
    padding: 0 !important;
    padding-right: 2px !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.kosm-collapsed-grid .kosm-active-primary-button, .kosm-collapsed-grid .kosm-inactive-primary-button {
    margin: 2px !important;
    flex-grow: 1 !important;
}

.kosm-collapsed-grid .kosm-active-primary-button, .kosm-collapsed-grid .kosm-inactive-primary-button {
    margin: 4px !important;
    margin-right: 2px !important;
}

.kosm-active-primary-button:hover, .kosm-active-secondary-button:hover,
.kosm-inactive-primary-button:hover, .kosm-inactive-secondary-button:hover {
    color: yellow !important;
}

.kosm-collapsed-grid br {
    /*clear: both !important;*/
    content: '\A' !important;
    display: contents !important;
    white-space: pre !important;
}

.kosm-collapsed-grid .kosm-break {
    /* https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */
    /* https://stackoverflow.com/questions/45087054/br-is-not-friendly-with-the-flexbox */
    flex-basis: 100% !important;
    height: 0 !important;
}

.kosm-btn-plus {
    background-color: #43563a4d !important;
}

.kosm-modal {
    z-index: 9999;
    white-space: pre-line;
}

.kosm-statusbar, .kosm-statusbar-sub {
    text-align: left;
    font-weight: bold;
}

.kosm-statusbar-sub {
    float: left;
}

.ui.page.modals.dimmer.transition.visible.active {
    background-color: #0000002b;
}
 .kosm-modal input, .kosm-modal .icon.input {
     color: white !important;
     background-color: #333333 !important;
 }
